<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StarTrayTemperature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
		<StarTrayTemperature.Properties.Settings>
            <setting name="ColorMode_CPU" serializeAs="String">
				<value />
            </setting>
            <setting name="TextColor_CPU" serializeAs="String">
				<value />
            </setting>
            <setting name="UseFahrenheit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconPath_CPU" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorMode_GPU" serializeAs="String">
				<value />
            </setting>
            <setting name="TextColor_GPU" serializeAs="String">
				<value />
            </setting>
            <setting name="IconPath_GPU" serializeAs="String">
                <value />
            </setting>
            <setting name="showCPU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showGPU" serializeAs="String">
                <value>True</value>
            </setting>
        </StarTrayTemperature.Properties.Settings>
    </userSettings>
</configuration>