<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BlackSharp.Core" version="1.1.0" targetFramework="net472" />
  <package id="DiskInfoToolkit" version="2.1.0" targetFramework="net472" />
  <package id="HidSharp" version="2.6.4" targetFramework="net472" />
  <package id="LibreHardwareMonitorLib" version="0.9.6" targetFramework="net472" />
  <package id="RAMSPDToolkit-NDD" version="1.5.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.CodeDom" version="10.0.8" targetFramework="net472" />
  <package id="System.Management" version="10.0.8" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="10.0.8" targetFramework="net472" />
  <package id="TaskScheduler" version="2.12.2" targetFramework="net472" />
</packages>